<launch>
    <node name="autolabor_driver" pkg="autolabor_pro1_driver" type="autolabor_pro1_driver" output="screen">
        <param name="port_name" value="/dev/ttyUSB0" />
        <param name="odom_frame" value="odom" />
        <param name="base_frame" value="base_link" />

        <param name="baud_rate" value="115200" />
        <param name="control_rate" value="10" />
        <param name="sensor_rate" value="5" />

        <param name="reduction_ratio" value="1.0" />
        <param name="encoder_resolution" value="1600.0" />

        <param name="wheel_diameter" value="0.25" />
        <param name="model_param" value="0.8" />
        <param name="pid_rate" value="50.0" />
	<param name="maximum_encoding" value="32.0" />
	
	<!-- bringup hokuyo laser -->
    </node>
    <node name="urg_node" pkg="urg_node" type="urg_node" output="screen">
        <param name="ip_address" value="192.168.0.10"/>
        <param name="angle_min" value="-2.3"/>
        <param name="angle_max" value="2.3"/>
    </node>
    <node pkg="tf" type="static_transform_publisher" name="laser_base_link_boardcast" args="0.19 0 0 0 0 0 1 base_link laser 20"/>
</launch>
