<launch>
<!--    <include file="$(find robot_pose_ekf)/launch/neurobot_ekf.launch" >-->
<!--        <arg name="play_bag" value="false" />-->
<!--    </include>-->

    <include file="$(find obstacle_avoidance)/launch/obstacle_avoidance.launch" >
        <arg name="base_model" value="neurobot" />
        <arg name="cmd_vel_topic" value="/cmd_vel" />
    </include>
</launch>